main {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.logo {
  font-size: 50pt;
  text-align: center;
  font-family: "Inria Serif";
}

.delivery {
  width: 100%;
}

h2 {
  text-align: left;
  font-family: "Inria Serif";
}

.customer-grid {
  display: grid;
  justify-content: space-evenly;
}

.Date-and-CVV {
  display: flex;
  gap: 30px;
}

textarea:focus,
input:focus {
  font-family: "Inria Serif";
  font-size: 20px;
}
input,
select,
textarea {
  font-family: "Inria Serif";
  font-size: 20px;
}

a {
  background-color: black;
  border-radius: 50px;
  padding: 2%;
  color: white;
  margin-top: 15px;
  padding-left: 101px;
  padding-right: 101px;
  font-size: 16px;

  margin: 20px;
}

.space {
  width: 100%;
  height: 30px;
}
.space-2 {
  width: 100%;
  height: 50px;
}
.done {
  margin-left: 80px;
}
