body {
  margin: 0px;
}

main {
  margin-left: 30px;
  margin-right: 40px;
}

.logo {
  font-size: 50pt;
  text-align: center;
  font-family: "Inria Serif";
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detail-shoes {
  justify-content: center;
  width: 70vw;
  border-radius: 7%;
}

p {
  text-align: left;
  width: 295px;
}

.sizesImage {
  width: 295px;
  border-radius: 9%;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sizesAvailable {
  display: table-column;
}

.description {
  display: table-column;
}

.button {
  width: 260px;
  margin: 20px;
}

#extraShoppingCart {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}

.extraShoppingCartShoe {
  height: 70%;
  margin: 0 auto;
  top: 0;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  object-fit: contain;
}

#close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-weight: bold;
  font-size: 1rem;
  z-index: 2;
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 640px), (max-width: 950px) {
  .container {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
