@media only screen and (min-width: 1280px) {
  .grid-container {
    row-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
  }
  .box-container {
    row-gap: 2em;
    grid-template-columns: 50% 50%;
  }
  .buttonnn {
    width: 20%;
    height: 2%;
    margin: 20px 0% 1% 60%;
  }
  .sizes {
    grid-template-columns: repeat(8, 1fr);
  }
  .texttt {
    font-size: 2.5vw;
  }
  .customer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .big-box {
    height: 54px;
    border-radius: 10px;
    width: 420px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .small-box {
    height: 54px;
    border-radius: 10px;
    width: 190px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .box-container {
    row-gap: 2em;
  }
  .buttonnn {
    width: 20%;
    height: 2%;
    margin: 20px 0% 1% 60%;
  }
  .sizes {
    grid-template-columns: repeat(8, 1fr);
  }
  .texttt {
    font-size: 2.5vw;
  }
  .customer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .big-box {
    height: 54px;
    border-radius: 10px;
    width: 420px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .small-box {
    height: 54px;
    border-radius: 10px;
    width: 190px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 950px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-container {
    row-gap: 2em;
    grid-template-columns: 100%;
  }
  .buttonnn {
    width: 40%;
    height: 4%;
    margin: 20px 0% 1% 60%;
  }
  .sizes {
    grid-template-columns: repeat(8, 1fr);
  }
  .texttt {
    font-size: 2.5vw;
  }
  .customer-grid {
    grid-template-columns: 1fr;
  }
  .big-box {
    height: 54px;
    border-radius: 10px;
    width: 320px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .small-box {
    height: 54px;
    border-radius: 10px;
    width: 160px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .box-container {
    row-gap: 2em;
    grid: template columns 100%;
  }
  .buttonnn {
    width: 40%;
    height: 4%;
    margin: 20px 0% 1% 60%;
  }
  .sizes {
    grid-template-columns: repeat(4, 1fr);
  }
  .texttt {
    font-size: 4.5vw;
  }
  .customer-grid {
    grid-template-columns: 1fr;
  }
  form {
    width: 100%;
    box-sizing: border-box;
  }
  .Name-and-Surname {
    display: block;
    box-sizing: border-box;
  }
  .Email-Phone {
    display: block;
    box-sizing: border-box;
  }
  .Date-and-CVV {
    display: block;
    box-sizing: border-box;
  }
  .big-box {
    height: 54px;
    border-radius: 10px;
    width: 320px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .small-box {
    height: 54px;
    border-radius: 10px;
    width: 160px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .done {
    margin-left: 50px;
  }
}
