@media only screen and (min-width: 1280px) {
  .grid-container {
    row-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
  }
  .box-container {
    row-gap: 2em;
    grid-template-columns: 50% 50%;
  }
  .buttonnn {
    width: 20%;
    height: 2%;
    margin: 20px 0% 20% 60%;
  }
}

@media only screen and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .box-container {
    row-gap: 2em;
  }
  .buttonnn {
    width: 20%;
    height: 2%;
    margin: 20px 0% 20% 60%;
  }
}

@media only screen and (max-width: 950px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-container {
    row-gap: 2em;
    grid-template-columns: 100%;
  }
  .buttonnn {
    width: 40%;
    height: 4%;
    margin: 20px 0% 20% 60%;
  }
}

@media only screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .box-container {
    row-gap: 2em;
    grid: template columns 100%;
  }
  .buttonnn {
    width: 40%;
    height: 4%;
    margin: 20px 0% 20% 60%;
  }
}
