body {
  margin: 0px;
}

main {
  margin-left: 40px;
  margin-right: 40px;
}
.choosed {
  padding-top: 1.5vw;
  display: grid;
  grid-template-columns: 1% 34% 45% 20%;
  grid-template-rows: 1fr;
  gap: 7vw;
}

.piccc {
  grid-area: 1 / 2 / 2 / 3;
}
.texttt {
  grid-area: 1 / 3 / 2 / 4;
}
img {
  width: 26vw;
  height: 19vw;
}

.line {
  width: 100%;
  border-color: black;
  border-style: double;
  border-width: 1px;
}
.sizes {
  position: absolute;
  display: grid;
  gap: 10px;
}
.size {
  background-color: rgba(184, 184, 184, 0.622);
  font-size: 2.5vw;
}

/* @media only screen and (min-width: 1280px) {
  .sizes {
    grid-template-columns: repeat(8, 1fr);
  }
  .texttt {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 1280px) {
  .sizes {
    grid-template-columns: repeat(8, 1fr);
  }
  .texttt {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 950px) {
  .sizes {
    grid-template-columns: repeat(8, 1fr);
  }
  .texttt {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 640px) {
  .sizes {
    grid-template-columns: repeat(4, 1fr);
  }
  .texttt {
    font-size: 4.5vw;
  }
} */
